*{
	background-color: lightgrey;
}

body {
	font-family: Roboto, sans-serif;
	text-align: center;
}

#header {
	color: red;
	padding-top: 15px;
	font-size: 10px;
	text-align: center;
	margin-left: 380px;
	margin-right: 380px;
}

#byline {
	text-align: center;
	padding-bottom: 10px;
}

#openingimage {
	max-height: 50%;
	max-width: 50%;
	display: block;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

#imagecap {
	font-size: 12px;
	text-align: center;
	padding-bottom: 2px;
}

#firstpara {
	margin-left: 400px;
	margin-right: 400px;
}

#secondpara {
	margin-left: 400px;
	margin-right: 400px;
	padding-bottom: 10px;
}

#map {
	padding-bottom: 5px;
}

#thirdpara {
	margin-left: 400px;
	margin-right: 400px;
	padding-bottom: 10px;
}

#chart {
	padding-bottom: 10px;
}

#quote {
	margin-left: 400px;
	margin-right: 400px;
}

#fourthpara {
	margin-left: 400px;
	margin-right: 400px;
	padding-bottom: 10px;
}

#sources {
	text-align: center;
}

#source3 {
	padding-bottom: 20px;
}